.headBg {
  --background: #F7F7F7;
  padding: 1% 0%;
}
.menuicon{
	color:#000;
}

.ctitle{
	// text-align: center;
  font-size: 18px;
    font-weight: 600;
}
.titleclass{
	text-align: center; padding-top: 8px;
}
.ios{
	.titleclass{
		text-align: center; padding-top: 11px;
	}
	.headBg {
		--background: #F7F7F7;
		padding: 3% 0%;
	  }
}
.background{
	 --background: #F7F7F7;
}
.wrapper{
	width:90%;
	margin:6% auto;
}
.defaulttext{
	font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.main{
	margin-top: 5%;
	border-bottom: 1px solid #D6D6D6;
}
.inner1{
	padding: 2% 3%;
	display: flex;
}
.imgdiv img{
	border-radius: 50%;
    width: 44px;
    height: 44px;
}
.textdiv{
	margin-left: 4%;
    margin-top: 1%;
    width: 65%;
}
.text{
	font-size: 14px;
	font-weight: 500;
	color:#000000;
}
.para{
	font-size: 10px;
	font-weight: 400;
	color:#000000;
	margin-top: 1%;

}

.right{
	/*margin-left: 30%;*/
  margin-top: 2%;
}
.date{
	font-size: 10px;
	color:#7F889F;
}
.time{
	font-size: 10px;
  font-weight: 400;
  margin-top: 4%;
  margin-left: 5%;
  color: #7F889F;
}