<ion-header [translucent]="true" class="ion-no-border cheader">
	<ion-toolbar class="headBgGlobal">
	    <ion-buttons slot="start" class="backbtn">
	      <img src="assets/imgs/icons/backbtn.svg" class="backSvg" (click)="goback()">
	  </ion-buttons>
	  <ion-title class="ctitle">Payment</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="wrapper">
		<div class="main">
			<table>
		  <tr>
		    <th>Serial No.</th>
		    <th>Date</th>
		    <th>Amount</th>
		    <th>Status</th>
		  </tr>
		  <tr>
		    <td>31256189</td>
		    <td>21-07-2021</td>
		    <td>$326</td>
		    <td style="color:#04948B">Approved</td>
		  </tr>
		  <tr>
		    <td>31256189</td>
		    <td>21-07-2021</td>
		    <td>$326</td>
		    <td style="color:#FE9805">Pending</td>
		  </tr>
		   <tr>
		    <td>31256189</td>
		    <td>21-07-2021</td>
		    <td>$326</td>
		    <td style="color:#04948B">Approved</td>
		  </tr>
		   <tr>
		    <td>31256189</td>
		    <td>21-07-2021</td>
		    <td>$326</td>
		    <td style="color:#FE9805">Pending</td>
		  </tr>
		  <tr>
		    <td>31256189</td>
		    <td>21-07-2021</td>
		    <td>$326</td>
		    <td style="color:#04948B">Approved</td>
		  </tr>
		  <tr>
		    <td>31256189</td>
		    <td>21-07-2021</td>
		    <td>$326</td>
		    <td style="color:#FE9805">Pending</td>
		  </tr>
		  <tr>
		    <td>31256189</td>
		    <td>21-07-2021</td>
		    <td>$326</td>
		    <td style="color:#04948B">Approved</td>
		  </tr>
		  <tr>
		    <td>31256189</td>
		    <td>21-07-2021</td>
		    <td>$326</td>
		    <td style="color:#FE9805">Pending</td>
		  </tr>
		</table>
		</div>
	</div>
</ion-content>
