.wrapper{
	width:90%;
	margin: 0% auto;
}
.logo{
	margin-top: 25%;
}
p{
	font-size:14px;
	padding: 2% 8%;
}
.btndiv{
	text-align: center;
	margin-top: 25%;
}
.btn1{
	--background: transparent;
    --box-shadow: none;
}