<!-- <ion-header>
  <ion-toolbar>
    <ion-title>onboarding</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background">
	<div class="wrapper">
		<div class="logo">
			<img src="assets/imgs/logo.svg">
		</div>
		
		<p>UniqKidz is a special platform to help you cater to the needs of special children. Keep up with your special needs child's personality and interests to provide them with the best care! </p>

		<div class="btndiv">
			<ion-button class="btn1" (click)="gotonext()">
				<img src="assets/imgs/icons/arrow.svg" >
			</ion-button>
		</div>
		
	</div>

</ion-content>
