<!-- <ion-header [translucent]="true" class="ion-no-border cheader">
		  <ion-toolbar class="headBgGlobal">
		    <ion-buttons slot="start" class="backbtn">
		      <img src="assets/imgs/icons/backbtn.svg" class="backSvg" (click)="goback()">
		  </ion-buttons>
		  <ion-title class="ctitle">Profile</ion-title>
		  <ion-buttons slot="end" class="plusbtn" (click)="edit()">
			  <img src="assets/imgs/icons/edit.svg">
			</ion-buttons>
		</ion-toolbar>
</ion-header> -->

<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col class="backbtn" size="2">
        <div>
          <img src="assets/imgs/icons/backbtn.svg" class="backSvg" (click)="goback()">
        </div>
      </ion-col>

      <ion-col class="titleclass" size="8">
        <ion-text class="ctitle">Profile</ion-text>
      </ion-col>

      <ion-col style="padding-top: 8px;padding-left: 20px;" size="2">
        <div (click)="edit()">
          <img src="assets/imgs/icons/edit.svg">
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
	<div class="wrapper">
		<div class="main">
			<div class="inner">
				<div class="left">
					<img src="{{defaultProfile}}" width="145px" height="135px">
				</div>
				<div class="right">
					<div class="rtext">{{childname}},<span style="font-weight:400;margin-left:3%;font-size:14px;color:#FE9805">{{age}} years old</span></div>
					<div class="rtext1">{{diagnosis}}</div>
					<div class="rtext2">{{notes}}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main1">
		<div class="inner1">
			<h6 style="color:#FE9805;font-weight:500;font-size:14px;margin:0px">Allergies</h6>
			<div style="display: flex; flex-wrap: wrap;" >
				<div class="btndiv" *ngFor="let all of allergyarr">
					<ion-button class="btn">{{all.allergy}}</ion-button>
					<!-- <ion-button class="btn1">{{all.allergy}}</ion-button> -->
				</div>
			</div>
			
		</div>	
	</div>

	<div class="main2">
		<div class="inner1">
			<h6 style="color:#FE9805;font-weight:500;font-size:14px;margin:0px">Medications Alarms</h6>
			<div style="display: flex;flex-wrap: wrap;">
				<div class="medicationdiv" *ngFor="let med of medicationsarr">
					<div class="medication1">
						<div class="mtext">{{med.medicationname}}</div>
						<div class="mtext2">{{med.medicationtime}}</div>
					</div>
					<!-- <div class="medication2">
						<div class="mtext">Medications 2</div>
						<div class="mtext2">12:30 pm</div>
					</div>
					<div class="medication3">
						<div class="mtext">Medications 3</div>
						<div class="mtext2">08:00 am</div>
					</div> -->
				</div>
			</div>
			
		</div>		
	</div>

	<div class="main1">
		<div class="inner1">
			<h6 style="color:#FE9805;font-weight:500;font-size:14px;margin:0px">Eating Times</h6>
			<div style="display: flex;flex-wrap: wrap;">
				<div class="medicationdiv"  *ngFor="let eat of foodarr">
					<div class="medication1">
						<div class="mtext">{{eat.foodname}}</div>
						<div class="mtext2">{{eat.eatingtime}}</div>
					</div>
					<!-- <div class="medication2">
						<div class="mtext">Eating Time 2</div>
						<div class="mtext2">12:30 pm</div>
					</div>
					<div class="medication3">
						<div class="mtext">Eating Time 3</div>
						<div class="mtext2">08:00 am</div>
					</div> -->
				</div>
			</div>
		</div>		
	</div>

	<div class="main2">
		<div class="inner1">
			<h6 style="color:#FE9805;font-weight:500;font-size:14px;margin:0px">Snack Times</h6>
			<div style="display: flex;flex-wrap: wrap;">
				<div class="medicationdiv" *ngFor="let snack of snackarr">
					<div class="medication1">
						<div class="mtext">{{snack.snackname}}</div>
						<div class="mtext2">{{snack.snacktime}}</div>
					</div>
					<!-- <div class="medication2">
						<div class="mtext">Snack Time 2</div>
						<div class="mtext2">12:30 pm</div>
					</div>
					<div class="medication3">
						<div class="mtext">Snack Time 3</div>
						<div class="mtext2">08:00 am</div>
					</div> -->
				</div>
			</div>
		</div>		
	</div>

	<div class="main1">
		<div class="inner1">
			<h6 style="color:#FE9805;font-weight:500;font-size:14px;margin:0px">Likes</h6>
			<div style="display: flex;flex-wrap: wrap;">
				<div class="btndiv" *ngFor="let like of likesarr">
					<ion-button class="btn">{{like.likes}}</ion-button>
					<!-- <ion-button class="btn1">Outdoor games</ion-button> -->
				</div>
			</div>
		</div>	
	</div>

	<div class="main2">
		<div class="inner1">
			<h6 style="color:#FE9805;font-weight:500;font-size:14px;margin:0px">Dislikes</h6>
			<div style="display: flex;flex-wrap: wrap;">
				<div class="btndiv" *ngFor="let dislike of dislikesarr">
					<ion-button class="btn">{{dislike.dislikes}}</ion-button>
					<!-- <ion-button class="btn1">Outdoor games</ion-button> -->
				</div>
			</div>
		</div>	
	</div>

	<div class="main1">
		<div class="inner1">
			<h6 style="color:#FE9805;font-weight:500;font-size:14px;margin:0px">Favorite activities</h6>
			<div style="display: flex;flex-wrap: wrap;">
				<div class="btndiv" *ngFor="let fav of favouritearr">
					<ion-button class="btn">{{fav.favourite}}</ion-button>
					<!-- <ion-button class="btn1">Outdoor games</ion-button> -->
				</div>
			</div>
		</div>	
	</div>

	<div class="main2">
		<div class="inner1">
			<h6 style="color:#FE9805;font-weight:500;font-size:14px;margin:0px">Emergency phone numbers</h6>
			<div style="display: flex;flex-wrap: wrap;">
				<div class="calldiv" *ngFor="let num of contactsarr">
					<div class="contactdiv">
						<div class="icondiv">
							<img src="assets/imgs/icons/call.png">
						</div>
						<p>{{num.contact}}</p>
					</div>
					<!-- <div class="contactdiv1">
						<div class="icondiv">
							<img src="assets/imgs/icons/call.png">
						</div>
						<p>+1 412 688 699</p>
					</div> -->
				</div>
			</div>
		</div>	
	</div>

	<div class="main1">
		<div class="inner1">
			<h6 style="color:#FE9805;font-weight:500;font-size:14px;margin:0px">Pediatrician</h6>
			<div class="para">{{pediatrician}}</div>
		</div>	
	</div>

	<div class="main2">
		<div class="inner1">
			<h6 style="color:#FE9805;font-weight:500;font-size:14px;margin:0px">Insurance information</h6>
			<div class="para">{{insuranceinfo}}</div>
		</div>	
	</div>

	<div class="main1">
		<div class="inner1">
			<h6 style="color:#FE9805;font-weight:500;font-size:14px;margin:0px">Special instructions</h6>
			<div class="para">{{instruction}}</div>
		</div>	
	</div>

	<div class="main2">
		<div class="inner1">
			<h6 style="color:#FE9805;font-weight:500;font-size:14px;margin:0px">Additional notes</h6>
			<div class="para">{{notes}}</div>
		</div>	
	</div>
	

</ion-content>
