

<ion-content class="background">

  <div class="topdiv">
    <div class="header">
      <div class="back-btn">
        <img src="assets/imgs/icons/backbtn.svg" class="backSvg" (click)="goback()">
        </div>
    </div>
    <div style="text-align: center;margin-top: 4%;">
      <img src="assets/imgs/ulogo.png">
    </div>  
  </div>
  <div class="logindiv">
    <div class="wrapper">
      
      <div class="headtxt">Forgot,<br>Password?</div>
      <p style="margin-bottom: 10%;font-size:14px;color: #000000;opacity:0.8;">Enter your email to get the recovery <br>OTP</p>

			<div class="fields">
				<div class="emaildiv">
					<div class="icondiv">
						<img src="assets/imgs/icons/lock.svg">
					</div>
					<div class="pinput">
						<ion-input placeholder="New Password"
						 type="{{showPass ? 'text':'password' }}"
						  [(ngModel)]="newPassword"
						></ion-input>
					</div>
					<div class="icondiv">
						<!-- <img src="assets/imgs/icons/eye.svg"> -->
						<ion-icon name="eye" class="eye"  *ngIf="!showPass" (click)="togglePass()"></ion-icon>
						<ion-icon name="eye-off" class="eye"  *ngIf="showPass" (click)="togglePass()"></ion-icon>
					</div>
				</div>
			</div>
			<p *ngIf="newPassError.status" class="error">{{newPassError.message}}</p>
			
			<div class="fields">
				<div class="emaildiv">
					<div class="icondiv">
						<img src="assets/imgs/icons/lock.svg">
					</div>
					<div class="pinput">
						<ion-input placeholder="Confirm Password"
						 type="{{showcPass ? 'text':'password' }}"
						  [(ngModel)]="confirmPassword"></ion-input>
					</div>
					<div class="icondiv">
						<!-- <img src="assets/imgs/icons/eye.svg"> -->
						<ion-icon name="eye" class="eye"  *ngIf="!showcPass" (click)="togglecPass()"></ion-icon>
						<ion-icon name="eye-off" class="eye"  *ngIf="showcPass" (click)="togglecPass()"></ion-icon>
					</div>
				</div>
			</div>
			<p *ngIf="confPassError.status" class="error">{{confPassError.message}}</p>

			<p *ngIf="error.status" class="error">{{error.message}}</p>

      <div class="ionbutton" (click)="gotologin()">
				<ion-button class="ib">Reset</ion-button>
			</div>

      
    </div>

  </div>
 
 
</ion-content>
