<!-- <ion-header>
  <ion-toolbar>
    <ion-title>paymentmessage</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
	<div class="wrapper">
		<div class="inputdiv">
			<div class="pinput">
				<ion-textarea placeholder="About"  rows="6" cols="20" [(ngModel)]="comments"></ion-textarea>
			</div>
		</div>
		<div class="btndiv">
			<ion-button class="btn1" (click)="Completed()">Complete Job</ion-button>
			<ion-button class="btn2" (click)="Cancel()">Cancel</ion-button>
		</div>
	</div>

</ion-content>
