.headBg {
  --background: #F7F7F7;
  padding: 1% 0%;
}
.menuicon{
	color:#000;
}

.ctitle{
	// text-align: center;
  font-size: 18px;
    font-weight: 600;
}
.titleclass{
	text-align: center; padding-top: 8px;
}
.ios{
	.titleclass{
		text-align: center; padding-top: 11px;
	}
	.headBg {
		--background: #F7F7F7;
		padding: 3% 0%;
	  }
}
.background{
	 --background: #F7F7F7;
}
.wrapper{
	width:90%;
	margin:6% auto;
}
ion-segment {
  padding: 5px 5px;
  border-radius: 10px;
  margin-top: 10px;
  --background: #EBEBEB;
  ion-segment-button {
    --border-width: 0;
    --margin-bottom: 5px;
    --margin-top: 5px;
    border-radius: 10px;
    --background-checked: #fe9805;
    --indicator-color: transparent !important;
    --color: #00000;
    --color-checked: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}
.linediv{
	display: flex;
	margin:10% 0%;
}
.leftline{
	border-top: 1px solid #BFBFBF;
  width: 42%;
}
.label{
	color: #BFBFBF;
    font-size: 8px;
    text-align: center;
    margin-top: -1.5%;
    margin-left: 3%;
    width:15%;
}
.rightline{
	border-top: 1px solid #BFBFBF;
  width: 42%;
  margin-left: 3%;
}
.main{
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 14px;
}

.left img{
	border-radius:7px;
}
.inner{
	padding: 2% 2.5%;
	
}
.top{
	display: flex;
}
.right{
	margin-left: 3%;
    width: 55%;
    margin-top: 1%;
}
.rightinner{
	display: flex;
}
.textdiv{
	width: 100%;
}
.rtext{
	font-size: 19px;
    font-weight: 600;
}
.rtext1{
	font-size: 14px;
	font-weight:400;
	color:#FE9805;
	margin-top: 3%;
	margin-left: 7%
}
.t1{
	color: #000000;
	font-size: 14px;
	font-weight: 600;
	margin-top: 4%;
}
.t2{
	color: #000000;
	font-size: 14px;
	margin-top: 4%;
}

.rtext2{
	font-size: 14px;
	font-weight:400;
	margin-top: 1%;
	height: 40px;
    overflow: hidden;
}
.btndiv{
	width: 90%;
  margin: 5% auto 3%;
  z-index: 999;
}
.btn
{

	color: white;
  --background: #FE9805;
  outline: none;
  width: 47%;
  font-size: 18px;
  font-weight: 600;
  height: 46px;
   --border-width: 1px; 
  --border-style: solid;
  --border-color: white;
  --border-radius: 12px;
  --box-shadow: none;
  text-transform: uppercase;
}
.btn1
{

	color: white;
  --background: #E63F3F;
  outline: none;
  width: 47%;
  font-size: 18px;
  font-weight: 600;
  height: 46px;
   --border-width: 1px; 
  --border-style: solid;
  --border-color: white;
  --border-radius: 12px;
  --box-shadow: none;
  text-transform: uppercase;
  margin-left: 3%;
}

@media only screen and (max-width:320px) {
	.right{
		margin-left: 3%;
	  margin-top: 1%;
	}
	.rightinner{
		display: flex;
	}
	.rtext{
		font-size: 14px;
	    font-weight: 600;
	}
	.rtext1{
		font-size: 10px;
		font-weight:400;
		color:#FE9805;
		margin-top: 2%;
		margin-left: 7%
	}
	.t1{
		color: #000000;
		font-size: 11px;
		font-weight: 600;
		margin-top: 15%;
	}
	.t2{
		color: #000000;
		font-size: 11px;
		margin-top: 15%;
	}

	.rtext2{
		font-size: 14px;
		font-weight:400;
		margin-top: 1%;
	}
}

@media only screen and (max-width:414px) {
	
	.rtext1{
		font-size: 12px;
		font-weight:400;
		color:#FE9805;
		margin-top: 2%;
		margin-left: 15%
	}
	.t1{
		color: #000000;
		font-size: 14px;
		font-weight: 600;
		margin-top: 4%;
	}
	.t2{
		color: #000000;
		font-size: 14px;
		margin-top: 4%;
	}
}