<ion-content class="background">
  <div id="mypage" class="adjust-overflow">
    <div class="topdiv">
      <div class="header">
        <div class="back-btn">
          <img
            src="assets/imgs/icons/backbtn.svg"
            class="backSvg"
            (click)="goback()"
          />
        </div>
      </div>
      <div style="text-align: center; margin-top: 4%">
        <img src="assets/imgs/ulogo.png" />
      </div>
    </div>
    <div class="logindiv">
      <div class="wrapper">
        <div class="headtxt">Forgot,<br />Password?</div>
        <p
          style="
            margin-bottom: 10%;
            font-size: 14px;
            color: #000000;
            opacity: 0.8;
          "
        >
          Enter your email to get the recovery <br />OTP
        </p>

        <div class="fields">
          <div class="inputdiv">
            <div class="icondiv">
              <img src="assets/imgs/icons/email.svg" />
            </div>
            <div class="pinput">
              <ion-input
                placeholder="Email"
                type="email"
                [(ngModel)]="email"
              ></ion-input>
            </div>
          </div>
        </div>
        <p *ngIf="emailError.status" class="error">{{emailError.message}}</p>
        <p *ngIf="error.status" class="error">{{error.message}}</p>

        <div class="ionbutton" (click)="gotootp()">
          <ion-button class="ib">
            <span class="btns">get opt</span>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
