.headBg {
  --background: #F7F7F7;
  padding: 1% 0%;
}
.menuicon{
	color:#000;
}
.backbtn{
	margin-left:0%;
  padding-top:10px;
  padding-left: 18px;
}
.backSvg {
  fill: #333;
}

.ctitle{
	// text-align: center;
  font-size: 18px;
    font-weight: 600;
}
.titleclass{
	text-align: center; padding-top: 8px;
}
.ios{
	.titleclass{
		text-align: center; padding-top: 11px;
	}
  .backbtn{
    margin-left:0%;
    padding-top:12px;
    padding-left: 18px;
  }
  .headBg {
    --background: #F7F7F7;
    padding: 3% 0%;
  }
}
.background{
	 --background: #F7F7F7;
}
.wrapper{
	width:80%;
	margin:10% auto;
}
.topdiv{
	width:80%;
	margin:0% auto;
}
.logodiv{
	/*background: #ffff;*/
    width: 110px;
    margin: 0% auto;
    /*border-radius: 90px;*/
    height: 110px;
}
.logodiv img{
	 border-radius: 90px;
  width: 110px;
  height: 110px;
}
.inputdiv{
	display: flex;
    border-radius: 12px;
    background: #FFFFFF;
    width: 100%;
    margin-top: 5%;
}
.pinput
{
	width: 100%;
  font-size: 15px;
  color: #000;
  opacity: 48%;
  padding: 0% 0% 1% 7%
}
.progressdiv{
	margin-top: 3%;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
ion-range{
	--bar-background: #fff;
  --bar-height: 5px;
  --bar-border-radius: 6px;
  --knob-background: #FE9805;
  --knob-size: 15px;
  /* --pin-background: #FE9805; */
  --pin-color: #FE9805;
  --height: 15px;
  --bar-background-active: #FE8805;
}
.htext{
	color: #FE9805;
	font-weight:500;
	font-size:14px;
}
.para{
	font-size: 10px;
	font-weight: 500;
	color:#000000;
	margin: 4% 4%;
}
.boxdiv{
	margin-top: 5%;
}
.one{
	display: flex;
	margin-left: 4%;
	margin-bottom: 5%;
}
.imgdiv{
	text-align: center;
}
.box1{
	background: #fff;
    /*box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;*/
    box-shadow: #0000001a 2px 5px 5px;
    border-radius: 14px;
}
.text1{
	font-weight:500;
	font-size:14px;
	color:#000000;
	margin-top: 5%;
}
.innerbox{
	text-align: center;
  padding: 10% 0%;
}
.left{
	width: 45%;
	float: left;
}
.right{
	width: 45%;
	float: left;
	margin-left: 5%;
}
.clear{
	clear: both;
}
.inputdiv1{
	margin: 10% auto 5%;
    display: flex;
    border-radius: 12px;
    background: #FFFFFF;
    width: 80%;
}
.pinput1{
	width: 100%;
    font-size: 15px;
    color: #000;
    opacity: 48%;
    padding: 1% 0% 1% 7%;
}
.cimg{
	margin-right: 5%;
}

.contactdiv{
	display: flex;
  margin-left: 30%
}
.contactdiv p{
	margin: 0px;
  padding-left: 5%;
}

.ionbutton
{	
 	text-align: center;
	width: 100%;
	margin-top: 10%;
}
.ib
{

	color: white;
  --background: #FE9805;
  outline: none;
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10%;
  height: 58px;
   --border-width: 1px; 
  --border-style: solid;
  --border-color: white;
  --border-radius: 12px;
  --box-shadow: none;
  text-transform: uppercase;
}
.error {
  color: #ff0000;
  font-size: 12px;
  text-align: center;
}
