<!-- <ion-header [translucent]="true" class="ion-no-border cheader">
		  <ion-toolbar class="headBgGlobal">
		    <ion-buttons slot="start" style="margin-left: 2%;">
		      <ion-menu-button class="menuicon"></ion-menu-button>
		  </ion-buttons>
		  <ion-buttons slot="end" style="margin-right: 2%;" (click)="goto()">

		    <img src="{{agencyProfile}}" class="pimg">
		  </ion-buttons>
		</ion-toolbar>
</ion-header> -->
<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
   <ion-row>
     <ion-col class="backbtn" size="2">
       <div>
         <ion-menu-button class="menuicon"></ion-menu-button>
       </div>
     </ion-col>

     <ion-col size="8">
     </ion-col>

     <ion-col size="2">
       <div (click)="goto()">
         <img src="{{agencyProfile}}" class="pimg">
         <!-- <img src="assets/imgs/clogo.png" *ngIf="userType=='caregiver'"> -->
       </div>
     </ion-col>
   </ion-row>
 </ion-toolbar>
</ion-header>

<ion-content class="background">

	<div class="wrapper">
		<div class="text">Welcome</div>
		<div class="text1">{{name}}</div>
		<div class="timer" *ngIf="picture==false">
			<!-- <img src="assets/imgs/timer.png"> -->
			<img src="assets/imgs/logo.svg">
		</div>
		<div *ngFor="let child of childsarray">
			<div  *ngIf="child.status=='Active'">
				<div class="main">
					<div class="inner">
						<div class="left">
							<img src="{{child.profile}}" width="140px" height="125px">
						</div>
						<div class="right">
							<div class="rtext">{{child.childname}},<span style="font-weight:400;margin-left: 3%;">{{child.age}} years</span></div>
							<div class="rtext1">Timing</div>
							<div class="rtext2">{{child.starttime}} - {{child.endtime}}</div>
							<div class="rtext3">{{child.about}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- <div class="main">
			<div class="inner">
				<div class="left">
					<img src="assets/imgs/boy.png" width="140px" height="125px">
				</div>
				<div class="right">
					<div class="rtext">Emily,<span style="font-weight:400;margin-left: 3%;">3 years</span></div>
					<div class="rtext1">Timing</div>
					<div class="rtext2">8:40 pm - 6:00 am</div>
					<div class="rtext3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</div>
				</div>
			</div>
		</div> -->
	</div>
</ion-content>
